#lower-details{
    display: inline-block;
    width:100%;
    list-style: none;
    padding: 0px;
}


.details-icon {
    display: inline-block;
}

#description {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}
#post-body {
    padding: 0px 6mm;
    /* width: 100%; */
}


